body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #dedede;
}
body.dark-mode, .dark-mode .info {
    background-color: #262626;
    color: rgb(163, 163, 163);
    scrollbar-color: #272727 #4c4b4b;
}
.flex {
    display: grid;
    grid-template-rows: 1fr auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
.content {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    text-align: left;
    box-sizing: border-box;
    border: 5px solid #eee;
    padding-left: 12px;
    border-radius: 10px;
    background: #fff;
    transition: background 0.1s, border 0.1s;
    background: white;
}
.dark-mode .content {
    background: #383838;
}
.content.drop {
    background-color: #eee;
    border-color: rgb(255, 193, 193);
}
#hats {
    overflow-y: auto;
    position: relative;
    /* min-height: calc(100vh - 300px);
    max-height: calc(100vh - 170px); */
}
#hats-output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    gap: 4px;
}
:root {
    --zoom: 200px;
}
.duck-out {
    width: var(--zoom);;
    padding: 1px;
    border-radius: 3px;
    text-align: center;
}
.duck-out .hat-image-overlay {
    position: absolute;
    border: 0px;
    opacity: 1;
    z-index: 0;
    /* filter: drop-shadow(2px 4px 6px black); */
}
.duck-out .hat-image-overlay-wing {
    z-index: 3;
}
.duck-out .hat-image-is-bigger {
    opacity: 0.6;
}
.duck-out .hat-image-container {
    border: 1px solid #dedede;
    position: relative;
}
.duck-out img {
    image-rendering: crisp-edges;
    display: block;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 2 / 1;
    position: relative;
    z-index: 2;
}
.duck-out img:hover {
    border-color: #bbb;
}
.duck-out .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: monospace;
    padding: 5px 2px;
    margin-bottom: -3px;
    border-radius: 10px 10px 0 0;
    background: #76767638;
}
.duck-out .has-transparent-pink {
    border: 1px solid #ff0080;
}
.duck-out .has-transparent-pink-extra-alert {
    border: 5px solid #ff0080;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    /* display: inline-block; */
}
.wavy-underline {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-color: #bbb;
}
.top-info {
    padding: 1px;
    position: relative;
}
.info {
    font-size: 80%;
    padding: 2px;
    text-align: center;
}
a {
    transition: color 0.1s;
    color: rgb(100, 100, 255);
    text-decoration: none;
}
a:hover {
    color: rgb(148, 148, 255);
    text-decoration: underline;
    cursor: pointer;
}
p {
    margin: 5px 0px;
    display: inline-block;
}
.zoom-container{
    padding-right: 20px;
}

.button-list {
    display: flex;
    align-items: center;
    grid-auto-flow: column;
    position: absolute;
    top: 8px;
    right: 8px;
    gap: 6px;
}
button {
    font-family: sans-serif;
}
.btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    color: black;
}
.btn:focus {
  outline: 1px solid gray;
  outline-offset: 2px;
}
.btn-github {
    height: 37px;
    border-radius: 50%;
}
.btn-github:hover {
    filter: drop-shadow(1px 2px 4px black);
}
.dark-mode .btn {
    color: white;
}
.btn:hover {
    filter: drop-shadow(1px 2px 4px black);
}
.btn-circle {
    font-size: 24px;
    background: #c8c8c8;
    border-radius: 50%;
    height: 37px;
    width: 37px;
}
.btn-circle div {
    filter: drop-shadow(0px 0px 1px #00000055);
}
.btn-dark {
    position: relative;
}
.btn-dark .moon {
    top: 3px;
    position: absolute;
    filter: drop-shadow(0px 1px 2px #00000099);
    left: 5px;
    font-size: 23px;
}
.btn-clear-container {
    position: sticky;
    float: left;
    height: 0px;
    top: 3px;
    left: 3px;
    z-index: 10;
}
.btn-clear {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    font-size: 15px;
    filter: grayscale(1);
    background: white;
}
.dark-mode .btn-clear {
    background: #626262;
}
.btn-clear div {
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-clear:focus {
    outline-offset: 0px;
}
.btn-clear:hover {
    filter: grayscale(1) drop-shadow(2px 4px 6px black);
    outline-offset: -1px;
}
/* https://getcssscan.com/css-buttons-examples */
.btn-main {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}
.btn-main:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}
.btn-main:focus {
    transform: translateY(-2px);
    outline: 0px solid #ffffff12 !important;
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.btn-main:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.btn-press:hover, .btn-press:focus {
    transform: translateY(-1px);
}
.btn-press:active {
    transform: translateY(1px);
}

.color-dropdown {
    position: relative;
    display: inline-block;
}
.menu {
  position: absolute;
  top: 100%;
  left: -50%;
  display: flex;
  /* display: none; */
  flex-direction: column;
  gap: 4px;
  padding: 6px;
  /* background: #bfbfbf; */
  min-width: 60px;
  border-radius: 11px;
  z-index: 100;

  opacity: 0;
  transform: translateY(-6px);
  pointer-events: none;
  transition: opacity 160ms ease, transform 160ms ease;
}
.color-dropdown:hover .menu {
    /* display: flex; */
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.btn-color-option {
    /* border: 1px solid #111111; */
    border: none;
    color: #111111;
    height: 24px;
    border-radius: 10px;
}
.dark-mode .btn:focus {
  outline: 1px solid white;
}
.btn-color-option div {
    color: black;
    opacity: 0.6;
    font-size: 12px;
    text-transform: capitalize;
    /* mix-blend-mode: luminosity; */
}
